/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #FFF7F8;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Header for Mobile */
/* @media screen and (max-width:600px){ */
#shop[tabindex="-1"]:focus {
  outline: 0;
}

.navbar {
  display: flex;
  width: 100%;
  margin: 1%;
  padding: 1%;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 25%;
  height: 100%;
}
.logo img {
  width: 90%;
}

.menu-cart {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.menu-cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}
.menu-cart-wrapper .navbar-toggler,
.menu-cart-wrapper .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.menu-cart-wrapper button {
  border-radius: 0px;
}
.menu-cart-wrapper button .fa-solid {
  font-size: 0.5em;
}

.offcanvas.show:not(.hiding) {
  background-color: #FFF7F8;
}

.navbar-toggler {
  padding: 0px;
}

.cart {
  display: flex;
  background-repeat: no-repeat;
}

.fixed-top {
  position: static;
}

/* banner for mobile  */
.new-section {
  display: flex;
  width: 100%;
}

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.banner #bkg {
  position: relative;
}
.banner #girl {
  position: absolute;
  width: 25%;
}

img:nth-child(2) {
  align-self: flex-end;
}

.new-collection {
  position: absolute;
}

.new-collection p {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 2;
  font-family: PlayfairDisplay;
  font-size: 14px;
  color: white;
}

.new-collection h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 2;
  font-family: PlayfairDisplay;
  font-size: 14px;
  color: white;
}

.about-section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  line-height: 2rem;
  margin: 2%;
  padding: 2%;
}
.about h2 {
  font-family: PlayfairDisplay;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  margin: 2%;
}

.About p {
  font-family: Raleway-Italic;
  font-size: 0.875rem;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* above all content */
}

img {
  width: 100%;
  height: auto;
}

.shop {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: auto;
}
.shop img {
  position: relative;
}

.trends-category,
.glasses-category,
.sales-category,
.bags-category {
  display: flex;
}
.trends-category img,
.glasses-category img,
.sales-category img,
.bags-category img {
  position: relative;
}

.men-category,
.womens-category {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 5;
}

.men-category {
  grid-row-start: 1;
  grid-row-end: 2;
}

.trends-category,
.glasses-category {
  grid-row-start: 2;
  grid-row-end: 3;
}

.sales-category,
.bags-category {
  grid-row-start: 3;
  grid-row-end: 4;
}

.womens-category {
  grid-row-start: 4;
  grid-row-end: 5;
}

.trends-category,
.sales-category {
  grid-column-start: 1;
  grid-column-end: 3;
}

.glasses-category,
.bags-category {
  grid-column-start: 3;
  grid-column-end: 5;
}

.cat {
  position: absolute;
}

/*caroussel */
.caroussel-section {
  display: flex;
  justify-content: center;
}

.most-loved-products {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  padding: 5%;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-indicators {
  margin-bottom: -1rem;
}

.carousel-indicators [data-bs-target] {
  background-color: black;
}

.fa-solid {
  color: black;
}

.carousel-caption {
  color: black;
}

/* for mobile  */
.sign-up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sign-up-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3%;
  padding: 2%;
  text-align: center;
  width: 80%;
}

.sign-up-form h2 {
  text-align: center;
  line-height: 2rem;
  margin-top: -0.5rem;
  color: white;
  font-family: Playfair;
  font-size: 1.5rem;
  font-style: italic;
}

.sign-up-form p {
  line-height: 1.5rem;
  color: white;
  font-family: Raleway;
}

form {
  display: flex;
  justify-content: end;
  min-width: 90%;
  position: relative;
}

button[type=submit],
input[type=email] {
  border-radius: 1rem;
}

input[type=email] {
  border: 0px;
  width: 100%;
  width: 100%;
  padding: 0px 0px 0px 10%;
  box-sizing: border-box;
}

input::placeholder {
  color: #e2574c;
  font-size: 0.8em;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}

button[type=submit] {
  font-size: 0.8em;
  background: #e2574c;
  border: 0px;
  position: absolute;
  color: white;
  align-self: center;
  height: 100%;
}

.sign-up-image-background {
  background-image: url(/images/wave-bkgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: auto;
}

/* footer mobile */
footer {
  display: flex;
  flex-wrap: wrap;
  background: #242424;
  color: white;
  width: 100%;
  justify-content: center;
}

.address,
.contact,
.social,
.copyright {
  display: flex;
  width: 90%;
  margin: 2%;
  padding: 2%;
}

.contact {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.address {
  flex-direction: column;
  align-items: center;
}
.address p {
  align-items: center;
}

.address a,
.social a {
  color: white;
}

.social ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.social ul span {
  display: none;
}

.copyright {
  align-items: center;
  flex-direction: column;
}

@media (min-width: 480px) {
  .contact {
    flex-direction: row;
    width: 100%;
  }

  .social,
.address {
    width: 40%;
  }

  .address {
    justify-content: center;
  }
  .address a,
.address p {
    text-align: center;
    width: 90%;
    margin: 2%;
    padding: 2%;
  }

  .social ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .social ul li {
    width: 90%;
    margin: 2%;
    padding: 2%;
    display: flex;
  }
  .social ul li a {
    text-decoration: none;
    width: 100%;
  }
  .social ul li .fab {
    font-size: 1.5em;
  }
  .social ul span {
    display: revert;
    margin-left: 2%;
  }
}
@media (min-width: 810px) {
  .contact {
    justify-content: space-evenly;
  }

  .copyright {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .social,
.address {
    min-width: 25%;
    width: 25%;
  }

  .address,
.address a,
.address p,
.contact,
.copyright,
.social,
.social ul li {
    margin: 1%;
    padding: 1%;
  }
}

/*# sourceMappingURL=styles.css.map */
