/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Fjalla+One&family=Righteous&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: transparent;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.travel-categories-title,
.carousel-text,
.current-offers-title,
.sign-up-form > h2,
.shop-title {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  font-size: 1em;
  margin: 2% 2% 3% 0%;
  padding: 2% 2% 3% 0%;
  color: #0A014F;
  display: flex;
}

.carousel-caption > h5 {
  font-family: "Abril Fatface", cursive;
  font-size: 4em;
  margin-bottom: 5%;
}

label {
  font-family: "Anton", sans-serif;
}

.cat,
.card-title {
  font-family: "Righteous", cursive;
  font-size: 1em;
  letter-spacing: 3px;
}

.card-text,
.sign-up-form > p,
.social,
.address,
.copyright {
  font-family: "Fjalla One", sans-serif;
  font-size: 1em;
}

.carousel-caption > p {
  font-family: "Fjalla One", sans-serif;
  font-size: 1em;
}

.categories .card-title {
  font-size: 0.8em;
}

@media (min-width: 576px) {
  .carousel-caption > h5 {
    font-size: 5em;
    margin-bottom: 4%;
  }
  .carousel-caption > p {
    font-size: 2em;
  }
  .travel-categories-title,
.carousel-text,
.current-offers-title,
.sign-up-form > h2,
.shop-title {
    font-size: 1.5em;
  }
  .cat,
.card-title {
    font-size: 1.2em;
  }
  .categories .card-title {
    font-size: 1em;
  }
  .card-text,
.sign-up-form > p,
.social,
.address,
.copyright {
    font-family: "Fjalla One", sans-serif;
    font-size: 1em;
  }
}
@media (min-width: 900px) {
  .carousel-caption > h5 {
    font-size: 9em;
    margin-bottom: 4%;
  }
  .carousel-caption > p {
    font-size: 4em;
  }
  .travel-categories-title,
.carousel-text,
.current-offers-title,
.sign-up-form > h2,
.shop-title {
    font-size: 2.5em;
  }
  .cat,
.card-title {
    font-size: 1.2em;
  }
  .carousel .card-text,
.sign-up-form > p,
.social,
.address,
.copyright {
    font-size: 2em;
  }
}
.travel-categories-wrapper,
.carousel-wrapper,
.current-offers-wrapper,
.shop-wrapper {
  margin: 2%;
  padding: 2%;
}

/* Header for Mobile */
/* @media screen and (max-width:600px){ */
#shop[tabindex="-1"]:focus {
  outline: 0;
}

.navbar {
  display: flex;
  width: 100%;
  margin: 1%;
  padding: 1%;
}

header {
  z-index: 3;
  background-color: #0A014F;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 35%;
  height: 100%;
}
.logo img {
  width: 100%;
}

.menu-cart {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}

.menu-cart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.menu-cart-wrapper .navbar-toggler,
.menu-cart-wrapper .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  color: #E0BE36;
}
.menu-cart-wrapper button {
  border-radius: 0px;
}

.fa-solid {
  font-size: 1em;
}

.offcanvas.show:not(.hiding) {
  background-color: #FFF7F8;
}

.navbar-toggler {
  padding: 0px;
}

.cart {
  display: flex;
  background-repeat: no-repeat;
}

.fixed-top {
  position: static;
}

@media screen and (min-width: 460px) {
  .logo {
    width: 30%;
  }
  .fa-solid {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 720px) {
  .logo {
    width: 20%;
  }
  .menu-cart {
    width: 20%;
  }
  .fa-solid {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1000px) {
  .navbar {
    margin: 0.5%;
    padding: 0.5%;
  }
  .logo,
.menu-cart {
    width: 10%;
  }
  .fa-solid {
    font-size: 2em;
  }
}
/* banner for mobile  */
html {
  height: auto;
  background-size: cover;
  background-color: white;
}

.carousel-item.active {
  display: flex;
}

video {
  width: 100%;
  height: auto;
}

.offcanvas {
  display: none;
}

.new-section {
  display: flex;
  width: 100%;
}

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  background-position: bottom;
  justify-content: center;
}
.banner #bkg {
  position: relative;
}
.banner #girl {
  position: absolute;
  width: 25%;
}

img:nth-child(2) {
  align-self: flex-end;
}

.new-collection {
  position: absolute;
}

.new-collection p {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 2;
  font-family: PlayfairDisplay;
  font-size: 14px;
  color: white;
}

.new-collection h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  z-index: 2;
  font-family: PlayfairDisplay;
  font-size: 14px;
  color: white;
}

@media (min-width: 600px) {
  .new-section {
    display: flex;
    width: 100%;
  }
}
.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background-color: #0A014F;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 2%;
  padding: 2%;
  background-color: #E0BE36;
  border: 1px solid #0A014F;
  border-radius: 3%;
}
.search-form button[type=submit] {
  height: auto;
  margin: 2%;
  padding: 2%;
  background-color: #0A014F;
  color: #E0BE36;
}

.date-wrapper,
.search-input {
  padding: 3%;
}
.date-wrapper label,
.search-input label {
  color: #0A014F;
}

@media (min-width: 576px) {
  .search-section {
    padding: 1%;
  }
  .date-wrapper {
    justify-content: center;
    padding: 1%;
  }
  .search-form {
    border-radius: 1%;
    margin: 1%;
    padding: 1%;
    width: 60%;
  }
  .search-form button[type=submit] {
    margin: 1%;
    padding: 1%;
  }
  .search-input {
    padding: 1%;
  }
}
@media (min-width: 900px) {
  .search-form {
    width: 50%;
  }
}
.about-section {
  display: flex;
  width: 100%;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  line-height: 2rem;
  margin: 2%;
  padding: 2%;
}
.about h2 {
  animation: slide-in-left 3s ease-in-out both;
  font-family: PlayfairDisplay;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  margin: 2%;
}

.about p {
  font-family: Raleway-Italic;
  font-size: 0.875rem;
  animation: slide-in-left 3s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* above all content */
}

.travel-categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}
.travel-categories .row {
  justify-content: center;
}
.travel-categories .card {
  width: 100%;
  height: auto;
  justify-content: center;
  border: 1px solid #0A014F;
  background-color: transparent;
}
.travel-categories .card .card-body {
  padding: 1%;
  text-align: center;
}

.travel-categories-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  z-index: 1;
}

.travel-categories-title {
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
  font-size: 1em;
  display: flex;
  width: 100%;
  height: auto;
  color: #0A014F;
}

.custom-shape-divider-bottom-1655159955 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1655159955 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 13px;
}

.custom-shape-divider-bottom-1655159955 .shape-fill {
  fill: #0A014F;
}

/** For mobile devices **/
@media (min-width: 767px) {
  .travel-categories-title {
    display: flex;
    width: 100%;
    height: auto;
    color: #0A014F;
    margin: 1% 1% 2% 0%;
    padding: 1% 1% 2% 0%;
  }
  .row {
    justify-content: flex-start;
  }
}
.current-offers {
  display: flex;
  width: 100%;
  background-size: cover;
  justify-content: center;
}
.current-offers .hotel {
  color: #FCF7FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.current-offers .hotel p {
  place-self: flex-end;
}

.current-offers-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2%;
  padding: 2%;
}
.current-offers-wrapper .card {
  border: none;
  margin: 1%;
  padding: 1%;
  background-color: transparent;
  border: none;
}

@media (min-width: 900px) {
  .current-offers-wrapper {
    margin: 1%;
    padding: 1%;
  }
}
img {
  width: 100%;
  height: auto;
}

.shop-section {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
}

.shop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.shop {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: auto;
}
.shop img {
  position: relative;
}

.trends-category,
.glasses-category,
.sales-category,
.bags-category,
.men-category,
.womens-category {
  position: relative;
}

.trends-category,
.glasses-category,
.sales-category,
.bags-category {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}
.trends-category img,
.glasses-category img,
.sales-category img,
.bags-category img {
  position: relative;
}

.men-category,
.womens-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 5;
}

.men-category {
  grid-row-start: 1;
  grid-row-end: 2;
}

.trends-category,
.glasses-category {
  grid-row-start: 2;
  grid-row-end: 3;
}

.sales-category,
.bags-category {
  grid-row-start: 3;
  grid-row-end: 4;
}

.womens-category {
  grid-row-start: 4;
  grid-row-end: 5;
}

.trends-category,
.sales-category {
  grid-column-start: 1;
  grid-column-end: 3;
}

.glasses-category,
.bags-category {
  grid-column-start: 3;
  grid-column-end: 5;
}

.cat {
  position: absolute;
  background-color: rgba(0, 0, 15, 0.3);
  color: white;
  text-transform: uppercase;
  margin: 1%;
  padding: 3%;
  border-radius: 2%;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .men-category,
.womens-category {
    grid-column-end: 3;
  }
  .trends-category,
.glasses-category {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .trends-category,
.sales-category {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .glasses-category,
.bags-category {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .womens-category,
.bags-category,
.sales-category {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
.hotel-carousel {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.hotel-carousel .card {
  border: none;
}
.hotel-carousel .card img {
  border-radius: 3%;
}

.main-carousel {
  display: none;
}

.flickity-enabled {
  display: unset;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 2%;
  padding: 3%;
}

.flickity-page-dots {
  bottom: 0px;
}
.flickity-page-dots .dot {
  opacity: 1;
  background: lightgrey;
}
.flickity-page-dots .is-selected {
  background: white;
}

.carousel-cell {
  width: 195px;
  height: 195px;
  margin-right: 10px;
}

.content-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  display: flex;
  margin: 1%;
  padding: 3%;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 400px) {
  .carousel-cell {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 600px) {
  .carousel-cell {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 900px) {
  .carousel-wrapper {
    margin: 1%;
    padding: 1%;
  }
}
/* for mobile  */
.sign-up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.sign-up-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3%;
  padding: 2%;
  text-align: center;
  width: 70%;
}
.sign-up-form h2 {
  text-align: center;
  line-height: 2rem;
  margin-top: -0.5rem;
  color: #0A014F;
}
.sign-up-form p {
  line-height: 2rem;
  color: #0A014F;
}
.sign-up-form form {
  display: flex;
  justify-content: end;
  width: 70%;
  position: relative;
  margin-top: 5%;
}
.sign-up-form button[type=submit],
.sign-up-form input[type=email] {
  border-radius: 1rem;
}
.sign-up-form input[type=email] {
  border: 1px solif #0A014F;
  width: 100%;
  width: 100%;
  padding: 0px 0px 0px 10%;
  box-sizing: border-box;
}
.sign-up-form input::placeholder {
  color: #0A014F;
  font-size: 0.8em;
  font-style: italic;
  padding: 0px;
  margin: 0px;
}
.sign-up-form button[type=submit] {
  font-size: 0.8em;
  background: #0A014F;
  border: 0px;
  position: absolute;
  color: #E0BE36;
  align-self: center;
  height: 100%;
}

.sign-up-image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: auto;
}

@media (min-width: 576px) {
  .sign-up-form {
    width: 70%;
  }
  .sign-up-form form {
    width: 50%;
  }
  .sign-up-form > p {
    line-height: 2.5rem;
  }
}
@media (min-width: 940px) {
  .sign-up-form {
    width: 50%;
  }
  .sign-up-form form {
    width: 50%;
  }
}
/* footer mobile */
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #0A014F;
  color: white;
  width: 100%;
  justify-content: center;
}

.address,
.contact,
.social,
.copyright {
  display: flex;
  width: 90%;
  margin: 2%;
  padding: 2%;
}

.contact {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.address {
  flex-direction: column;
  align-items: center;
}
.address p {
  align-items: center;
}

.address a,
.social a {
  color: white;
}

.social ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.social ul span {
  display: none;
}

.copyright {
  align-items: center;
  flex-direction: column;
}

@media (min-width: 480px) {
  .contact {
    flex-direction: row;
    width: 100%;
  }
  .social,
.address {
    width: 40%;
  }
  .address {
    justify-content: center;
  }
  .address a,
.address p {
    text-align: center;
    width: 90%;
    margin: 2%;
    padding: 2%;
  }
  .social ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .social ul li {
    width: 90%;
    margin: 2%;
    padding: 2%;
    display: flex;
  }
  .social ul li a {
    text-decoration: none;
    width: 100%;
  }
  .social ul li .fab {
    font-size: 1.5em;
  }
  .social ul span {
    display: revert;
    margin-left: 2%;
  }
}
@media (min-width: 810px) {
  .contact {
    justify-content: space-evenly;
  }
  .copyright {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .social,
.address {
    min-width: 25%;
    width: 25%;
  }
  .address,
.address a,
.address p,
.contact,
.copyright,
.social,
.social ul li {
    margin: 1%;
    padding: 1%;
  }
}

/*# sourceMappingURL=styles.css.map */
