.about-section {
    display: flex;
    width: 100%;
    justify-content: center;
}


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    line-height: 2rem;
    margin: 2%;
    padding: 2%;

    h2 {
        font-family: PlayfairDisplay;
        font-style: italic;
        font-weight: bold;
        font-size: 1rem;
        margin: 2%
    }
}



.About p {
    font-family: Raleway-Italic;
    font-size: 0.875rem;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* above all content */
}

// @media screen and (min-width:600px) {
//     .about h2 {
//         font-family: PlayfairDisplay;
//         font-style: italic;
//         font-weight: bold;
//         font-size: 2rem;
//     }

//     .about p {
//         font-family: Raleway-Italic;
//         font-size: 1rem;
//     }



// }