/* banner for mobile  */
.new-section {
    display: flex;
    width: 100%;
}

.banner {

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    #bkg {
        position: relative;
    }

    #girl {
        position: absolute;
        width: 25%;
    }

}



img:nth-child(2) {
    align-self: flex-end;


}

.new-collection {
    position: absolute;
}

.new-collection p {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    z-index: 2;
    font-family: PlayfairDisplay;
    font-size: 14px;
    color: white;
}

.new-collection h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    z-index: 2;
    font-family: PlayfairDisplay;
    font-size: 14px;
    color: white;
}