img {
    width: 100%;
    height: auto;
}

.shop-section {
    display: flex;
    justify-content: center;
}

.shop-wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
}

.shop {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: auto;

    img {
        position: relative;
    }
}




.trends-category,
.glasses-category,
.sales-category,
.bags-category,
.men-category,
.womens-category {
    position: relative;
}

.trends-category,
.glasses-category,
.sales-category,
.bags-category {
    display: flex;
    border: 1px solid white;
    justify-content: center;
    align-items: center;

    img {
        position: relative;
    }
}

.men-category,
.womens-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
}

.men-category {
    grid-row-start: 1;
    grid-row-end: 2;
}

.trends-category,
.glasses-category {
    grid-row-start: 2;
    grid-row-end: 3;
}

.sales-category,
.bags-category {
    grid-row-start: 3;
    grid-row-end: 4;
}


.womens-category {
    grid-row-start: 4;
    grid-row-end: 5;
}


.trends-category,
.sales-category {
    grid-column-start: 1;
    grid-column-end: 3;

}

.glasses-category,
.bags-category {
    grid-column-start: 3;
    grid-column-end: 5;
}



.cat {
    //top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 15, 0.3);
    color: white;
    text-transform: uppercase;
    margin: 1%;
    padding: 3%;
    border-radius: 2%;
    // width: 100%;
    // height: 100%;

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


@media (min-width:600px) {

    .men-category,
    .womens-category {
        grid-column-end: 3;
    }


    .trends-category,
    .glasses-category {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .trends-category,
    .sales-category {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .glasses-category,
    .bags-category {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .womens-category,
    .bags-category,
    .sales-category {
        grid-row-start: 2;
        grid-row-end: 3;
    }
}