// /* mobile first for shopping categories max width 600px*/
// //flex
// .shop-wrapper {
//     display: flex;
//     width: 100%;
//     justify-content: center;

// }




// .shop {
//     width: 100%;
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: center;

// }

img {
    width: 100%;
    height: auto;
}

// .cat {
//     color: white;
//     font-size: 1em;
//     position: absolute;

//     display: flex;
//     width: 80%;
//     justify-content: center;
// }



// .men-category,
// .womens-category {
//     flex-direction: column;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     align-items: center;
//     color: white;
//     text-transform: uppercase;
//     font-family: Raleway;
//     font-size: 0.875rem;

//     img {
//         position: relative;

//     }
// }



// .trends-category,
// .glasses-category,
// .sales-category,
// .bags-category {

//     width: 50%;
//     border: 1px solid white;
//     display: flex;
//     align-items: center;
//     text-align: center;
//     justify-content: center;
//     font-size: 14px;
//     color: white;
//     text-transform: uppercase;

//     font-family: Raleway;
//     font-size: 0.875rem;


// }

// .test-wrapper {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     flex-wrap: wrap;
//     justify-content: space-between;

// }

.shop {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: auto;

    img {
        position: relative;
    }
}


.trends-category,
.glasses-category,
.sales-category,
.bags-category {
    display: flex;

    img {
        position: relative;
    }
}

.men-category,
.womens-category {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 5;
}

.men-category {
    grid-row-start: 1;
    grid-row-end: 2;
}

.trends-category,
.glasses-category {
    grid-row-start: 2;
    grid-row-end: 3;
}

.sales-category,
.bags-category {
    grid-row-start: 3;
    grid-row-end: 4;
}


.womens-category {
    grid-row-start: 4;
    grid-row-end: 5;
}


.trends-category,
.sales-category {
    grid-column-start: 1;
    grid-column-end: 3;

}

.glasses-category,
.bags-category {
    grid-column-start: 3;
    grid-column-end: 5;
}



.cat {
    position: absolute;
}