$base-color: #EDF6F9;
$border-dark: rgba($base-color, 0.88);
$border-light: rgba($base-color, 0.88);
$teal:#006D77;
$lightgreen:#BEE3DB;
$orange:#E29578;
$black:#0A0F0D;
$grey:grey;
$greypurple:#555B6E;
$dark:#1E1E24;





//Color palette test1

$darkblue:#0A014F;
$yellow : #E0BE36;
$brightorange : #FF715B;
$green : #3AB795;
$white : #FCF7FF;
//$ : #;



// $ : #;
// $ : #;
// $ : #;
// $ : #;
// $ : #;
// $ : #;
// $ : #;
// $ : #;
// $ : #;
// $ : #;