/* footer mobile */

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $darkblue;
    color: white;
    width: 100%;
    justify-content: center;
}

.address,
.contact,
.social,
.copyright {
    display: flex;
    width: 90%;
    margin: 2%;
    padding: 2%;
}

.contact {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



.address {
    flex-direction: column;
    align-items: center;

    p {
        align-items: center;
    }
}

.address a,
.social a {
    color: white;
}

.social {
    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;

        span {
            display: none;
        }

    }
}


.copyright {
    align-items: center;
    flex-direction: column;
}


//footer large phones and tablets
@media (min-width:480px) {


    .contact {
        flex-direction: row;
        width: 100%
    }

    .social,
    .address {

        width: 40%;
    }

    .address {
        justify-content: center;

        a,
        p {
            text-align: center;
            width: 90%;
            margin: 2%;
            padding: 2%;
        }
    }

    .social {
        ul {
            flex-direction: column;
            align-items: flex-start;

            li {
                width: 90%;
                margin: 2%;
                padding: 2%;
                display: flex;

                a {
                    text-decoration: none;
                    width: 100%
                }

                .fab {
                    font-size: 1.5em;
                }
            }

            span {
                display: revert;
                margin-left: 2%;
            }
        }
    }
}

// tablet and desktop
@media (min-width:810px) {
    .contact {
        justify-content: space-evenly;
    }

    .copyright {
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .social,
    .address {
        min-width: 25%;
        width: 25%;
    }

    .address,
    .address a,
    .address p,
    .contact,
    .copyright,
    .social,
    .social ul li {
        margin: 1%;
        padding: 1%;
    }
}