 /* Header for Mobile */
 /* @media screen and (max-width:600px){ */

 #shop[tabindex="-1"]:focus {
     outline: 0;

 }

 .navbar {
     display: flex;
     width: 100%;
     margin: 1%;
     padding: 1%;
 }

 header {
     z-index: 3;
     background-color: $darkblue;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     width: 100%;
     justify-content: center;
 }

 .sticky-header {
     position: -webkit-sticky;
     position: sticky;
     top: 0;
 }

 .logo {
     display: flex;
     justify-content: flex-start;
     width: 35%;
     height: 100%;

     img {
         width: 100%;
     }
 }

 .menu-cart {
     display: flex;
     width: 25%;
     justify-content: flex-end;
 }

 .menu-cart-wrapper {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 100%;

     .navbar-toggler,
     .cart {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 45%;
         color: $yellow;

     }

     button {
         border-radius: 0px;


     }
 }

 .fa-solid {
     font-size: 1em;
 }

 .offcanvas.show:not(.hiding) {
     background-color: #FFF7F8;
 }

 .navbar-toggler {
     padding: 0px;
 }

 .cart {
     display: flex;

     background-repeat: no-repeat;

 }


 .fixed-top {
     position: static
 }



 .navbar-toggler {
     visibility: hidden;
 }

 @media screen and (min-width:460px) {
     .logo {
         width: 30%;
     }

     .menu-cart {
         //  width: 120px;
         //  height: 40px;

     }


     .fa-solid {
         font-size: 1.2em;
     }




 }


 @media screen and (min-width:720px) {

     .logo {
         width: 20%;
     }

     .menu-cart {

         width: 20%;
     }

     .fa-solid {
         font-size: 1.5em;
     }

     .navbar-toggler {
         visibility: visible;
     }

 }


 @media screen and (min-width:1000px) {

     .navbar {
         margin: 0.5%;
         padding: 0.5%;

     }

     .logo,
     .menu-cart {
         width: 10%;

     }

     .fa-solid {
         font-size: 2em;
     }


 }