 /* Header for Mobile */
 /* @media screen and (max-width:600px){ */

 #shop[tabindex="-1"]:focus {
     outline: 0;

 }

 .navbar {
     display: flex;
     width: 100%;
     margin: 1%;
     padding: 1%;
 }

 header {
     z-index: 1;
     background-color: $darkblue;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     width: 100%;
     justify-content: center;
 }

 .sticky-header {
     position: -webkit-sticky;
     position: sticky;
     top: 0;
 }

 .logo {
     display: flex;
     justify-content: flex-start;
     width: 25%;
     height: 100%;

     img {
         width: 90%;
     }
 }

 .menu-cart {
     display: flex;
     width: 30%;
     justify-content: flex-end;
 }

 .menu-cart-wrapper {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 50%;

     .navbar-toggler,
     .cart {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 45%;

     }

     button {
         border-radius: 0px;

         .fa-solid {
             font-size: 0.5em;
         }
     }
 }

 .offcanvas.show:not(.hiding) {
     background-color: #FFF7F8;
 }

 .navbar-toggler {
     padding: 0px;
 }

 .cart {
     display: flex;

     background-repeat: no-repeat;

 }


 .fixed-top {
     position: static
 }

 @media screen and (min-width:460px) {

     .menu-cart-wrapper {
         //  width: 120px;
         //  height: 40px;

         button,
         .cart {
             //  width: 40px;
             //  height: 40px;
         }

         button {
             .fa-solid {
                 //  font-size: 1.6em;
             }
         }
     }


 }


 @media screen and (min-width:820px) {
     .menu-cart-wrapper {
         //  width: 150px;
         //  height: 50px;

         button,
         .cart {
             //  width: 50px;
             //  height: 50px;
         }

     }


 }


 @media screen and (min-width:1240px) {
     .menu-cart-wrapper {
         button {
             .fa-solid {
                 //  font-size: 2.5em;
             }
         }
     }


 }