.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-color: $darkblue;


}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 2%;
    padding: 2%;
    background-color: $yellow;
    border: 1px solid $darkblue;
    border-radius: 3%;
    // background-color: white;

    button[type=submit] {
        height: auto;
        margin: 2%;
        padding: 2%;
        background-color: $darkblue;
        color: $yellow;
        ;
        display: flex;
        width: 25%;
        justify-content: center;
        align-items:center;
    }

}

.date-wrapper,
.search-input {

    padding: 3%;

    label {
        color: $darkblue;
    }
}

@media (min-width: 576px) {

    .search-section {
        padding: 1%;
    }

    .date-wrapper {
        justify-content: center;
        padding: 1%;


    }

    .search-form {
        border-radius: 1%;
        margin: 1%;
        padding: 1%;



        width: 60%;



        button[type=submit] {
            margin: 1%;
            padding: 1%;
        }
    }

    .search-input {
        padding: 1%;
    }

}


@media (min-width: 900px) {
    .search-section {}

    .search-form {
        width: 50%;
    }


}